/*form css*/

.form-control {
	height: 46px;
}

body {
	margin-top:40px;
}
.stepwizard-step p {
	margin-top: 10px;
}
.stepwizard-row {
	display: table-row;
}
.stepwizard {
	display: table;
	width: 100%;
	position: relative;
}
.stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
	top: 14px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #ccc;
	z-order: 0;
}
.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
}
.btn-circle {
	margin: -10px 0px 0px 0px;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 1.428571429;
	border-radius: 40px;
	padding: 12px 0px;
}

.stepwizard-step .fa {
	font-size: 22px;
}

.stepwizard-step:hover .btn-primary{
	background:#714273;
	border-color: #714273;
}

.btn-primary:hover .fa{
	color: #fff;
}

.btn-circle:hover{
	background:#714273;
	border-color: #714273;

}

.btn-circle:hover .fa{
	color: #fff;
}

.btn-primary, .btn-primary:hover{
	background-color: #955897;
	border-color: #955897;
}

.stepwizard-step .btn-primary .fa{
	color: #fff;
}

.vcenter .fa, .vcenter h3 {
	color: grey;
	font-size: 16px;
	font-weight: 600;
}

.top-panel.active {
	background: #719759;
}
.top-panel.active .vcenter .fa, .top-panel.active .vcenter h3 {
	color: #fff;
}

.top-panel:hover {
	background: #719759;
}

.top-panel:hover .fa {
	color: #fff;
}

.top-panel:hover .vcenter h3 {
	color: #fff;
}

.top-panel .fa{
	font-size: 50px;
}

div#tenant-rental-rewards-details p {
	text-align: left;
	margin-bottom: 16px;
	word-spacing: 2px;
}

div#tenant-agent-specific-details input{
	margin-right: 35px;
	margin-bottom: 20px;
	margin-top: 15px;
}

#tenant-moving-service-details input{
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
}
#tenant-declaration-details input{
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
}
#tenant-identification-details li{
	margin-top: 15px;
	
}
#tenant-identification-details ol, #tenant-identification-details ul{
	color: #777;
	
}

#tenant-identification-details .panel-heading{
	height: auto;
	
}

.applic-edit-btn .btn {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	padding: 9px 0 0 0;
}

.applic-edit-btn .btn .fa{
	font-size: 20px;
}


.dashboard-edit-btn{
	position: relative;
}
.dashboard-edit-btn .btn-circle{
	position: absolute;
	margin-left: -26px;
}

a.ten-nav-btn {
	background: #719759;
	border-radius: 25px;
	color: #fff;
}

a.ten-nav-btn:hover {
	background: #955897 !important;
	color: #fff;
}

.ten-welcome-user{
	color: grey;
}

.ten-welcome-user:focus{
	color: #714273;
}

.ten-welcome-user:hover{
	color: #714273;
}

.dropdown-menu li a:hover {
	color: #714273;
}

#tenant-rental-rewards-details ol, #tenant-rental-rewards-details ul{
	color: #777;

}
#tenant-rental-rewards-details li{
	margin-bottom: 15px;
}

input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.tenent-application-form{

	padding-top: 30px;
}

h2.page-header.new-application-title{
	background-color: #fff;
	padding: 15px;
}

/*btn css*/

.next-button{    
	background-color: #719759;
	border-color: #719759;
	min-width: 120px;
	min-height: 42px;
	border-radius: 60px;
}

.prev-button{
	background-color: #d4d5d6;
	border-color: #d4d5d6;
	color: #444444;
	min-width: 120px;
	min-height: 42px;
	border-radius: 60px;
}

.next-button:focus, .next-button:active, .next-button:hover, .next-button.active,
.prev-button:focus, .prev-button:active, .prev-button:hover, .prev-button.active{
	background-color: #714273;
	border-color: #714273;

}

.next-button.active.focus, .next-button.active:focus, .next-button.focus, .next-button:active.focus, .next-button:active:focus, .next-button:focus,
.prev-button.active.focus, .prev-button.active:focus, .prev-button.focus, .prev-button:active.focus, .prev-button:active:focus, .prev-button:focus 
{
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

div.bhoechie-tab-menu div.list-group>a.active, div.bhoechie-tab-menu div.list-group>a.active .glyphicon, div.bhoechie-tab-menu div.list-group>a.active .fa {
	background-color: #714273;
	background-image: #5A55A3;
	color: #ffffff;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	z-index: 2;
	color: #fff;
	border-color: #714273;
}

div.bhoechie-tab-menu div.list-group>a.active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #714273;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon, div.bhoechie-tab-menu div.list-group>a .fa {
	color: #777;
}

.thirty-pixel{
	margin-top: 30px;
}

.list-group-item:hover  .fa, .list-group-item:hover {
	color: #714273 !important;
}

.list-group-item.active:hover  .fa, .list-group-item.active {
	color: #fff !important;
}


.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
	color: #fff;
	background-color: #955897;
	border-color: #955897;
}

.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	text-decoration: none;
	background-color: #955897;
	background: #955897;
}

.ten-welcome-user:hover, .ten-welcome-user:focus {
	background: transparent !important;
	color: #955897;
}

a:focus {
	outline: 0px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}


@media screen and (max-width: 570px) {
	.stepwizard-step {
		display: block;
	}

	.ten-personal-information h1{
		font-size: 20px;
	}
	.ten-personal-information .form-group{
		text-align: left;
	}

	a.ten-nav-btn {
    background: #719759;
    border-radius: 25px;
    color: #fff;
    font-size: 8px;
    padding: 8px 14px !important;
}

}

.info-radio-btn{
	text-align: left;
}

.bg-success, .bg-green {
	color: #fff;
	background-color: #719759;
}

.upload-btn {
	background: #719759;
	border-color: #719759;
	margin-bottom: 40px;
	margin-top: 10px;
}

.tenancy-property-address{
	display: contents;
}


.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success, .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active{
	background-color: #719759;
	border-color: #719759;
}

.ten-submit-btn{
	background-color: #719759;
	border-color: #719759;
	min-width: 120px;
	min-height: 42px;
	border-radius: 60px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #719759;
    border-color: #719759;
}

.tenancy-database-check-block {
	text-align: center;
	cursor: pointer;
}

.tenancy-database-check-block:hover {
	
	background-color: #719759;
}


.tenancy-database-check-block:hover a{
	
	color: #fff;
	text-decoration: none;
}

.tenancy-database-check-block:active a, .tenancy-database-check-block:active:hover a, .tenancy-database-check-block:hover:active a{
	text-decoration: none;
}


.tenancy-database-check-block a{
	color: grey;
	font-size: 16px;
	font-weight: 600;
}

.tenancy-database-check-block a:hover, .tenancy-database-check-block a:focus, .tenancy-database-check-block a:active{
	text-decoration: none;
}

.tenancyapplication-status .badge{
	font-size: 16px;
	padding: 10px 10px 10px 10px;
	border-radius: 25px;

}

.form-control {
	font-size: 12px;
}

.form-control:focus {
	border: 1px solid #955897;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #955897;
}




/*Select Style*/

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  margin-bottom: 15px;
  text-align: left;
  font-size: 12px;
}

.custom-select{
	font-size: 14px;

}


.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: #fff;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div {
  color: #555;
  padding: 13px 15px;
  cursor: pointer;
  user-select: none;
  height: 46px;
}



.select-selected {
  color: #555;
  padding: 13px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  height: 46px;
}



/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
      border: 1px solid #ddd;
}


.personal-info .select-items {
    
    left: 16px;
    right: 14px;
    }

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

   .tennacy_application .fa{
   	color: #955897;
   }


   