
@font-face {
  font-family: LatoBold;
  src: url('/fonts/Lato-Bold.ttf');
}


@font-face {
  font-family: LatoRegular;
  src: url('/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: LatoLightItalic;
  src: url('/fonts/Lato-LightItalic.ttf');
}


body {
  font-family: LatoRegular;

}
h1,h2,h3,h4,h5,h6{
  font-family: LatoBold;
  font-variant: normal;
  font-kerning: auto;
  -webkit-font-smoothing: antialiased;
}

p, li, a{
  font-family: LatoRegular;
  letter-spacing: .9px;
  font-variant: normal;
  font-kerning: auto;
  -webkit-font-smoothing: antialiased;
  color: #636c74;
}

.tanant-copyright .fab {
  margin-bottom: 20px;
}



.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #955897;
}

.navbar-inverse .navbar-toggle {
  border-color: #955897;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #955897;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus {
  color: #955897;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #704472;
  background-color: transparent;
}


.navbar-inverse .navbar-nav>li>a {
  color: #000;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 17px;
  font-family: LatoRegular;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  background-color: white;
  border-color: transparent;

}


.logo-img{

  max-width: 200px;
}

ul.nav.navbar-nav.navbar-right {
  margin-top: 20px;
}

.login-form{

  background-color: #955897;
  padding: 11px;
  border-radius: 10px;
  text-align: left;
}

.submit-botton{

 margin-left: 20px;
 color: #fff;
 background-color: #719759;
 border-color: #719759;
 padding: 10px 15px 10px 15px;
 font-size: 17px;
 border-radius: 25px;
 width: auto;
 max-width: 120px;
 font-family: latoRegular;

}

.form-group input {
  line-height: normal;
  border-radius: 5px !important;
  font-size: 15px;
  padding: 0px 5px 0px 10px;
  min-height: 55px;
  width: 100% !important;
}

.tanancy-header-home-page {
  height: auto;
  top:90px;
  left:0;
  position: relative;
}



@media screen and (max-width: 1024px) {

   .tanancy-header-home-page {
  height: 450px;
  top:90px;
  left:0;
  position: relative;
}


}

@media screen and (max-width: 1244px) {
  .nav.navbar-nav.navbar-right .btn-success {

    margin-right: 20px;
}

}


.book-your-dream-house{
  /*margin-top: 60px;*/
  /*background-image: linear-gradient( to bottom left, #eceae9, #fafafa );*/
}


.tanancy-header-home-page p {
  position: absolute;
  right: auto;
  left: 50%;
  top: 12%;
  min-height: 38px;
  z-index: 50;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: LatoBold;
  font-size: 30px;
  color: #3b2b2b;
}


.tenant-property>li.active>a{
  background: transparent;
  color: #000;
  font-weight: 600;
  font-size: 24px;
  padding-left: 0;

}

.tenant-property>li>a{
  background: transparent;
  color: #707070;
  font-weight: 600;
  font-size: 24px;
  padding-right:  0;
  padding-left: 0;
}

.tenant-property>li.active>a, .tenant-property>li.active>a:focus, .tenant-property>li.active>a:hover {
 color: #955897;
 background-color: transparent;
}

.tenant-property>li>a:hover {
  color: #955897;
  background-color: transparent;
}

.my-form p {
  font-size: 24px;
  text-align: left;
}
.my-form {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}


.why-us-section {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
}

.why-us-block{
 margin-bottom: 40px;
 margin-top: 100px;

}

.why-us-block h1{
 font-size: 50px;
 color: #000;
 margin-bottom: 55px;
 font-family: LatoBold;

}
.why-us-block h2{

 color: #000;
 font-family: LatoBold;
 font-size: 30px;
 margin-bottom: 25px;
}

.why-us-single-block{
 margin-bottom: 20px;
 /*padding: 20px 20px 20px 20px;
 margin-left: 20px;
 margin-right: 20px;*/
 text-align: left;


}

.why-us-single-block p{
  font-size: 15px;
  color:#000;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: LatoRegular;
}

.why-us-single-block i.fas {
  font-size: 60px;
  color: #719859;
  margin-top: 30px;
  margin-bottom: 25px;
}


/*dream house Section*/


.dream-house-section{
  background: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.dream-house-section h1{
 color: #000;
 font-family: LatoBold;
 margin-bottom: 0px;

}

.dream-house-section h2{

 font-family: LatoBold;
 font-size: 30px;
 margin-bottom: 25px;
 margin-top: 15px;
}

.dream-house-section p{
  font-size: 15px;
  color: #000;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: latoRegular;
}

img.your-dream-image {
 /* max-width: 500px;
 margin-top: 40px;*/
}



/*end of dream house section*/

/*start apply section*/

.dream-house-section.start-apply{
  margin-top: 100px;
  background: #fff;
}
.dream-house-section.start-apply h1{

  margin-bottom: 20px;

}

.dream-house-section.start-apply .login-register{

  margin-top: 60px;

}

button.submit-botton.login-botton {
  background: transparent;
  color: #000;
  border: none;
  padding: 0;
  font-family: latoRegular;
  font-size: 17px;
  margin: 0;
}

.why-us-block.apply-today{

  margin-bottom: 130px;
}


/*End of start apply section*/

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #fff;
  color: white;
  padding: 15px;
  clear: both;
}

.footer-block{

  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  margin-top: 30px;
}
.footer-block h2{
  color: #636c74;
  margin-bottom: 30px;
  display: block;
  text-align: left;
  font-size: 24px;
  font-family: LatoRegular;
}
.footer-block ul li a{
 text-align: left;
 color: #a1aab2;

}

.footer-block ul li a:hover{
 color: #955897;

}

.footer-block ul li{
 text-align: left;
 color: #a1aab2;
 list-style: none;
 padding-bottom: 5px;
 font-size: 15px;
 font-family: LatoRegular;
}

.footer-block ul {
  display: block;
  list-style-type: disc;
  padding: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 3px;
}

img.footer-logo {
  -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0
  filter: grayscale(100%);
  margin-bottom: 20px;
  float: left;
}

footer p{
  color: #a1aab2;
  text-align: left;
  display: inline-block;
  font-size: 15px;
  font-family: LatoRegular;

}

.footer-logo-block p{

  text-align: left;
}

.footer-block-single{
  min-height: 182px;
  padding: 0;
}




.tanant-copyright .fab{

  font-size: 28px;
  margin-right: 15px;
  color: #707070;
  vertical-align: middle;
}

.tanant-copyright .fab:hover{

  color: #955897;

}




.tanant-copyright {

  margin-top: 60px;
  margin-bottom: 60px;
}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #333;
}

.navbar-inverse .navbar-toggle {
  margin-bottom: 35px;
}

.password-input{
  padding-left:0px;
  padding-right: 0px;
}
.email-input{
  padding-left:0px;

}

.why-us-single-block img {
  text-align: center;
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 1%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:transform .8s ease-in-out;


}

.why-us-single-block{
  cursor: pointer;
  position: relative;
}

.why-us-single-block:hover  img{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}





@media screen and (max-width: 991px) {

  .why-us-single-block.ten_right{
    padding-left: 0px !important;
  }

  .why-us-single-block.ten_left{
    padding-right: 0px !important;
  }

}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height:auto;
  }
  .password-input{
    padding-left:0px;
    padding-right: 0px;
  }
  .email-input{
    padding-left:0px;
    padding-right: 0px;
  }

  .login-input{
   margin-top: 20px;

 }

 .submit-botton {
  margin-left: 0px;


}

button.submit-botton.login-botton {
  margin-right: 5px;
  margin-left: 0px;
}
.why-dream-house{
  text-align: center !important;
}

.why-us-single-block {
  text-align: center;
}

.why-us-block.start-apply {
  text-align: center;
}

.why-us-block.start-apply {
  text-align: center !important;
}

img.your-dream-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
      width: 100%;
}

.paraSection.property-block {
  padding-left: 0px;
}

.footer-block-single {
    min-height: 0px;
}

}

@media screen and (max-width: 560px) {

  button.submit-botton.login-botton {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  button.submit-botton.login-botton {

    padding: 20px 10px 0px 0px;
  }



}


span.greenunderline {
  display: inline-block;
  position: relative;
}

span.greenunderline:after {
  position: absolute;
  content: '';
  border-bottom: 4px solid #719759;
  width: 93%;
  transform: translateX(-50%);
  bottom: -7px;
  left: 52%;
}

.why-dream-house{
  text-align: center;
}

.signup-btn {
  color: #fff !important;
  width: max-content;
  border-radius: 25px;
  min-width: 105px;
}

.signup-btn:hover {
  color: #f1f1f1 !important;
  background: #704472 !important;
  border-color: #704472 !important;
}

.paraSection p{

  font-size: 16px;
  /*font-family: 'OpenSans';*/
  color: #636c74;
  margin-bottom: 15px;
}

.headingBg {

  background: url(/images/About.jpg) no-repeat;
  background-size: cover;
  background-position: top,center;
  min-height: 175px;
  position: relative;
  margin-top: 90px;
  margin-bottom: 70px;
}

.headingBg h1{
  text-transform: uppercase;
  font-weight: 700;
  color: #714273;
  margin-top: 65px;
  font-size: 40px;
  font-family: LatoBold;
}

img.sideBarImg {
  display: block;
  max-width: 100%;
  height: auto;
}

.book-your-dream-house h1{
  font-size: 72px;
  font-family: LatoBold;
  color: #000;
}


.book-your-dream-house p{
  font-family: LatoBold;
  font-size: 30px;
  color: #3b2b2b;
  margin-top: 25px;
}

.tanant-copyright p {
  font-size: 15px;
  font-family: latoregular;
}

a:focus, a:hover {
  color: #23527c;
  text-decoration: none;
}

.dream-house-section.start-apply-today{
  margin-top: 60px;
  margin-bottom: 60px;
}

.why-us-block.start-apply h1{
  margin-bottom: 20px;
}

.why-us-block.start-apply {
  text-align: center;
}

.why-us-single-block.ten_right{
  padding-left: 40px;
}

.why-us-single-block.ten_left{
  padding-right: 40px;
}

.nav.navbar-nav.navbar-right .btn-success {
  background-color: #719759;
  border-color: #719759;
  padding-top: 12px;
  padding-bottom: 12px;
}
.alliance-partners {
  background: #fff;
  padding-bottom: 55px;
}

.alliance-parners h1{
 font-size: 50px;
 color: #000;
 margin-top: 55px;
 font-family: LatoBold;
 text-align: center;
}

.alliance-parners p {

  text-align: center;
  margin-top: 40px;
  margin-bottom: -30px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}

/*property manager page css*/

.property-page-heading{

  position: relative;
  margin-top: 120px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.property-page-heading h2{

  color: #636c74;
  font-size: 50px;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: LatoLightItalic;

}

.property-page-heading img{
  margin-left: auto;
  margin-right: auto;
}

.property-page-heading hr {
  max-width: 50px;
  border-bottom: 3px solid #704472;
  margin-bottom: 0px;
  margin-top: 45px;
}

.paraSection.property-block h3 {
  color: #636c74;
  font-size: 30px;
  font-family: LatoBold;
  margin-top: 60px;
  margin-bottom: 25px;
}

.paraSection.property-block p {
  margin-bottom: 30px;
  color: #636c74;
  font-size: 17px;
}

.paraSection.property-block {
  /*padding-left: 30px;*/
}


img.img-responsive.property-image {
  margin-top: 50px;
}

.property-image {
  margin-bottom: 40px;
}


@media screen and (max-width: 935px) {

  .tanancy-header-home-page{
    background:  url(/images/banner-tenancy.jpg) no-repeat;
    background-size: cover;
    background-position: center, center;

  }
  img.home-banner-image{
    display: none;
  }

}

/*buttons css*/

.btn-primary {
  color: #fff;
  background-color: #719759;
  border-color: #719759;
  border-radius: 25px;
}
.btn {
  display: inline-block;
  padding: 11px 25px;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
}

.btn:hover, .btn-primary.focus, .btn-primary:focus, .btn:active, .btn-primary.active, .btn-primary:active, .btn-primary:active:hover {
 background: #704472;
 border-color: #704472;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}


@media screen and (max-width: 640px) {
  .property-page-heading h2 {

    line-height: 45px;

  }


}

@media screen and (max-width: 400px) {

  .contact-page-side a {
    line-height: 24px !important;
    font-size: 13px !important;
  }
  .contact-page-side p {
   line-height: 24px !important;
   font-size: 13px !important;
 }

 .paraSection.property-block p {
   line-height: 24px !important;
   font-size: 13px !important;
 }

 .ten_login-btn {
  font-size: 12px;
}

}



.contact-page-side p{
  margin-bottom: 30px;
  color: #636c74;
  font-size: 17px;
  letter-spacing: .9px;
  line-height: 1.5em;
}

.contact-page-side a {
  line-height: 30px;
  font-size: 17px;
}

.contact-page-side .fa {
  color: #955897;
  margin-right: 10px;
}

.contact-page-side a:hover {
  color: #955897;
}

.tenant_register-page .panel-default{
  border-color: transparent;

}

select.form-control {
  height: 50px;
  color: #9c9898;
  font-size: 14px;
}

.ten_login-btn {
  width: 100%;
  margin-top: 20px;
}


.apply_address_for {
  font-weight: 700; margin-bottom: 20px; padding-left: 5px;
}
