.general-lease-terms li {
    color: #878787;
    list-style-position: inside;
    padding-left: 10px;
}

input.btn.btn-primary {
    /* border-radius: 25px; */
    background: #4c4c4c;
    border: 1px solid #4c4c4c;
}
button#download-application-report {
    /*border-radius: 25px;*/
    background: #719759;
    border: 1px solid #719759;
}

a#dropdownMenuLink {
 /* border-radius: 25px;*/
 background: #4c4c4c;
 border: 1px solid #4c4c4c;
 color: #fff;
     min-width: 120px;
}

a.btn.btn-primary.btn-sm.pull-right {

    background: #4c4c4c;
    border: 1px solid #4c4c4c;
    color: #fff;
    min-width: 70px;
    padding-bottom: 6px;

}

a.btn.btn-primary {
    background: #4c4c4c;
    border: 1px solid #4c4c4c;
    color: #fff;
}

button.btn.btn-danger.btn-sm {
    color: #fff;
    background-color: #4c4c4c;
    border-color: #4c4c4c;
    border-radius: 0px;
    min-width: 70px;
    padding-bottom: 6px;
}

button.btn.btn-primary.btn-sm.pull-right {
	color: #fff;
    background-color: #719759;
    border-color: #719759;
    border-radius: 0px;
    min-width: 70px;
    padding-bottom: 6px;

}

button#download-total-application-report {

	background: #719759;
    border: 1px solid #719759;
    color: #fff;
}

a.btn.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    min-width: 31px;
}

input.btn.btn-success.pull-right {
	color: #fff;
    background-color: #719759;
    border-color: #719759;
    border-radius: 0px;
    min-width: 70px;
    padding-bottom: 6px;

}

td.noExl .btn-danger {
    min-width: 1px;
    border-radius: 0px;
    background: #d9534f;
}

#tenant-applications-table a.btn.btn-danger {

	color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    border-radius: 0px;
    min-width: 0px;
}


.user-area .user-avatar {
    border-radius: 0% !important;
    float: right;
    margin-top: 4px;
    max-width: 162px;
}


.user-area .user-avatar {
    float: left !important;
    margin-top: 4px;
    width: 100%;
    max-width: 164px;
}

.user-area .user-avatar {
    float: left !important;
    width: auto !important;
    max-height: 37px;
    max-width: 160px;
}
#tenant-applications-table .fa {
    min-width: 14px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead {
     background-color: #f2f2f2;
}

.card-title{
    font-size: 1.7em;
    font-family: serif;
}

.form-control {
    background-color: #f2f2f2;
}

.select2-container--default .select2-selection--multiple {
    background-color: #f2f2f2 !important;
    border: 1px solid #ced4da !important;

}

.card-header:first-child {
    /*border-block-end: 8px solid #17a2b8;*/
}

.card-title, .card-header strong, .card-header h1, .card-header h2 .card-header {
    font-size: 1.7em;
    font-family: serif;
    padding: 17px 15px 21px 23px;
    /*background: #18a2b8;*/
    color: #22262a;
    margin-left: -20px;
}

.custom-tab .nav-tabs > a.active, .custom-tab .nav-tabs > .active > a:focus, .custom-tab .nav-tabs > li.active > a:hover {
    border-color: transparent transparent;
    color: #fff !important;
    position: relative;
    background: #272c33;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: #4c4c4c;
    color: #fff;
font-size: 0.9em;
    margin-right: 2px;    margin-top: 3px;
}

@media only screen and (max-width: 1024px) {
.nav-tabs .nav-link {

    margin-right: 5px;
    margin-bottom: 10px;
}

}

.ten-mail-templates #nav-tabContent {
    border: 1px solid #f1f2f7;
    background: #fff;
}


.manager-dashboard-block .single-block {

    margin: 5px auto 40px auto;
    float: none;
}

.requiredcls:after{
    content:'*';
    color:red;
    padding-left:5px;
}

label.error-message{ color: #ff4444 }
